.search{
    display: flex;

    justify-content: center;
    margin-top:1em ;
 

}
input{
    position: sticky;
    width: 20rem;
    height: 3rem;
    border: none;
    font-size: 20px;
    padding: 10px 25px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 12px;
}